import /init.board.rc
import /init.sc8830.usb.rc
import /init.kanas3g_base.rc
import init.wifi.rc


on early-init
    # set core dump resource limit
    setrlimit 4 -1 -1

    # coredump file will not be generated in release version
    write /proc/sys/kernel/core_pattern /dev/null

on init
    # Shim libs for binary blobs
    export LD_SHIM_LIBS /system/lib/hw/camera.sc8830.so|libmemoryheapion.so:/system/lib/hw/camera2.sc8830.so|libmemoryheapion.so:/system/lib/libril.so|libril_shim.so:/system/bin/gpsd|libgps_shim.so

    mkdir /productinfo 0771 system system

on fs
    mount_all /fstab.sc8830

#Allow others to read fb devices
    chmod 660 /dev/graphics/fb0
    chmod 660 /dev/fb0

#permissions for debug
    chown system system /sys/power/restart_cpc
    chmod 0220 /sys/power/restart_cpc

#permissions for cpufreq
    chown system system /sys/power/cpufreq_min_limit
    chown system system /sys/power/cpufreq_max_limit
    chown system system /sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_table

#permissions for ddr
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/polling_interval
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/min_freq
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/max_freq
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/governor
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/cur_freq
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/available_frequencies
    chmod 664 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/min_freq
    chmod 664 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/max_freq
    chmod 664 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/available_frequencies

# permissions for sensors (accelerometer)
    chown system system /sys/class/input/input0/enable
    chown system system /sys/class/input/input0/delay
    chown system system /sys/class/input/input0/poll_delay
    chmod 0660 /sys/class/input/input0/enable
    chmod 0660 /sys/class/input/input0/delay
    chmod 0660 /sys/class/input/input0/poll_delay

    chown system system /sys/class/input/input1/enable
    chown system system /sys/class/input/input1/delay
    chown system system /sys/class/input/input1/poll_delay
    chmod 0660 /sys/class/input/input1/enable
    chmod 0660 /sys/class/input/input1/delay
    chmod 0660 /sys/class/input/input1/poll_delay

# permissions for TSP
    chown system system /sys/class/sec/tsp/cmd

    chmod 0664 /sys/class/sec/tsp/cmd

on charger
    chmod 0666 /dev/log/radio
    chmod 0666 /dev/log/main
    chmod 0666 /dev/log/event
    mount ext4 /dev/block/platform/sprd-sdhci.3/by-name/system /system ro,barrier=1 wait
    class_start sec-charger
    
on post-fs
    # We restorecon /efs in case the efs partition has been reset.
    restorecon_recursive /efs

    # We restorecon /system in case the system partition has been reset.
    restorecon_recursive /system

    # We restorecon /productinfo in case the productinfo partition has been reset.
    restorecon_recursive /productinfo

    chown system system /productinfo
    chmod 0771 /productinfo
    insmod /system/lib/modules/mali.ko

    # Slave bind mount /data/media/legacy for some applications
    mkdir /data/media/legacy 0771 media_rw media_rw
    mount none /data/media/0 /data/media/legacy slave bind rec

on post-fs-data
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # Make param block device link
    chown system system /dev/block/platform/sprd-sdhci.3/by-name/PARAM
    chmod 0660 /dev/block/platform/sprd-sdhci.3/by-name/PARAM
    symlink /dev/block/platform/sprd-sdhci.3/by-name/PARAM /dev/block/param

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Support audio loopback test
    mkdir /dev/pipe 0755 system system
    exec -- /system/bin/mknod -m 666 /dev/pipe/mmi.audio.ctrl p
    # Support audio parameter stored
    mkdir /data/local/media 0775 media system

    chmod 660 /proc/cpt/wdtirq
    chmod 660 /proc/cpt/stop
    chmod 660 /proc/cpt/start
    chmod 660 /proc/cpt/modem
    chmod 660 /proc/cpt/dsp

    chown system root /proc/cpt/wdtirq
    chown system root /proc/cpt/stop
    chown system root /proc/cpt/start
    chown system root /proc/cpt/modem
    chown system root /proc/cpt/dsp

    chmod 660 /proc/cpw/wdtirq
    chmod 660 /proc/cpw/stop
    chmod 660 /proc/cpw/start
    chmod 660 /proc/cpw/modem
    chmod 660 /proc/cpw/dsp

    chown system root /proc/cpw/wdtirq
    chown system root /proc/cpw/stop
    chown system root /proc/cpw/start
    chown system root /proc/cpw/modem
    chown system root /proc/cpw/dsp

    chmod 660 /proc/cpwcn/wdtirq
    chmod 660 /proc/cpwcn/stop
    chmod 660 /proc/cpwcn/start
    chmod 660 /proc/cpwcn/modem
    chmod 660 /proc/cpwcn/dsp

    chown system root /proc/cpwcn/wdtirq
    chown system root /proc/cpwcn/stop
    chown system root /proc/cpwcn/start
    chown system root /proc/cpwcn/modem
    chown system root /proc/cpwcn/dsp

on boot
    chown system system /sys/module/mali/parameters/gpu_cur_freq
    chown system system /sys/module/mali/parameters/gpufreq_max_limit
    chown system system /sys/module/mali/parameters/gpufreq_min_limit
    chown system system /sys/module/mali/parameters/gpufreq_table
    chown system system /sys/kernel/debug/mali0/memory_usage

    chown system system /sys/class/backlight/sprd_backlight/brightness

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    chmod 0660 /sys/devices/virtual/camera/rear/Cam_antibanding
    chown media system /sys/devices/virtual/camera/rear/Cam_antibanding

    chown system system /sys/class/graphics/fb0/dynamic_pclk
    chown system system /sys/class/graphics/fb0/dynamic_fps
    chown system system /sys/class/graphics/fb0/dynamic_mipi_clk

# Prevents permission denied error for telephony
# Also seems to "allow" mobile data to connect
    chmod 0644 /proc/cmdline

# <Sensors>
# Accelerometer_sensor
    chown system radio /dev/accelerometer
    chown system radio /sys/class/sensors/accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/accel_cal_open 
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name


    chmod 777 radio /dev/accelerometer
    chmod 777 radio /sys/class/sensors/accelerometer_sensor
    chmod 777 radio /sys/class/sensors/accelerometer_sensor/raw_data
    chmod 777 radio /sys/class/sensors/accelerometer_sensor/calibration
    chmod 777 radio /sys/class/sensors/accelerometer_sensor/accel_cal_open
    chmod 777 radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chmod 777 radio /sys/class/sensors/accelerometer_sensor/vendor
    chmod 777 radio /sys/class/sensors/accelerometer_sensor/name

#audio pin mux
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/ap_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/ap_iis0

# From init.board.rc
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    mkdir /data/system 0770 system system

on property:ro.modem.t.count=1
    write /proc/sim/0 t

on property:ro.modem.t.count=2
    write /proc/sim/0 t
    write /proc/sim/1 t

on property:ro.modem.t.count=3
    write /proc/sim/0 t
    write /proc/sim/1 t
    write /proc/sim/2 t

on property:ro.modem.w.count=1
    write /proc/sim/0 w

on property:ro.modem.w.count=2
    write /proc/sim/0 w
    write /proc/sim/1 w

on property:ro.modem.w.count=3
    write /proc/sim/0 w
    write /proc/sim/1 w
    write /proc/sim/2 w

on property:ro.config.ksm.support=true
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

on property:persist.modem.w.enable=1
    symlink /dev/spipe_w1 /dev/vbpipe1
    symlink /dev/spipe_w2 /dev/vbpipe2
    symlink /dev/spipe_w3 /dev/vbpipe3
    symlink /dev/spipe_w6 /dev/vbpipe6
    symlink /dev/block/platform/sprd-sdhci.3/by-name/FIXNV1 /dev/block/platform/sprd-sdhci.3/by-name/fixnv2
    symlink /dev/block/platform/sprd-sdhci.3/by-name/FIXNV2 /dev/block/platform/sprd-sdhci.3/by-name/fixnv1
    symlink /dev/block/platform/sprd-sdhci.3/by-name/RUNTIMENV1 /dev/block/platform/sprd-sdhci.3/by-name/runtimenv1
    symlink /dev/block/platform/sprd-sdhci.3/by-name/RUNTIMENV2 /dev/block/platform/sprd-sdhci.3/by-name/runtimenv2
    symlink /dev/block/platform/sprd-sdhci.3/by-name/MODEM /dev/block/platform/sprd-sdhci.3/by-name/wmodem
    symlink /dev/block/platform/sprd-sdhci.3/by-name/WDSP /dev/block/platform/sprd-sdhci.3/by-name/wdsp
    start nvitemd_w
    start refnotify_w

on property:persist.modem.t.enable=1
    symlink /dev/spipe_td1 /dev/vbpipe1
    symlink /dev/spipe_td2 /dev/vbpipe2
    symlink /dev/spipe_td3 /dev/vbpipe3
    symlink /dev/spipe_td6 /dev/vbpipe6
    start nvitemd_td
    start refnotify

# From init.board.rc
service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# LPM
service playlpm /system/bin/lpm
    class sec-charger
    critical
    seclabel u:r:healthd:s0
