######
# for emulated internal and
# internal storage is primary
# @{
on boot
    write /sys/class/android_usb/android0/f_mass_storage/board_support_luns 1
on early-fs
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/emulated/legacy

    export PRIMARY_STORAGE_TYPE external
    export INTERNAL_STORAGE_TYPE emulated

    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -w 1051 -e -l /data/media /mnt/shell/emulated
    class late_start

# physical external storage
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -w 1052 -f -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled
# @}
######

