import /init.board.rc
import /init.sc8830.usb.rc
import /init.wifi.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

    # set core dump resource limit
    setrlimit 4 2147483647 2147483647

    # coredump file will not be generated in release version
    write /proc/sys/kernel/core_pattern /dev/null

	chown system system /sys/devices/platform/panel/backlight/panel/brightness
    chown system system /sys/class/input/event0/device/device/enable
    chmod 777 /sys/class/input/event0/device/device/enable
    mount debugfs /sys/kernel/debug /sys/kernel/debug

on init
    mkdir /productinfo 0771 system system
    symlink /dev/block/platform/sdio_emmc/by-name/PERSISTENT /dev/block/persistent

    # Support Preload install apks
    mkdir /preload 0771 system system

    # See storage config details at https://source.android.com/devices/storage/

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    #thermistor
    chown radio system /sys/class/sec/sec-thermistor/temp_adc
    chown radio system /sys/class/sec/sec-thermistor/temperature
    chown radio system /sys/class/sec/sec-thermistor/dcxo_temp_adc
    chown radio system /sys/class/sec/sec-thermistor/dcxo_temperature

    chown radio system /sys/class/thermal/thermal_zone1/temp

# SecEDS
    setprop ro.SecEDS.enable false

on fs
    mount_all /fstab.sc8830
    mount pstore pstore /sys/fs/pstore
    symlink /system/res /res
    symlink /system/bin /bin

#permissions for debug
    chown system system /sys/power/restart_cpc
    chmod 0220 /sys/power/restart_cpc

#Allow others to read fb devices
    chmod 660 /dev/graphics/fb0
    chmod 660 /dev/fb0

on charger
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    mount ext4 /dev/block/platform/sprd-sdhci.3/by-name/system /system ro,barrier=1 wait

service charger /charger
    class charger
    group log
    critical
    seclabel u:r:healthd:s0

service charger /system/vendor/bin/lpm
    class charger
    group log
    critical
    seclabel u:r:healthd:s0

# LPM
service playlpm /system/vendor/bin/lpm
    class sec-charger
    critical
    seclabel u:r:healthd:s0

on post-fs
    chown system system /productinfo
    chmod 0771 /productinfo

on post-fs-data
    copy /system/etc/bluetooth/bt_stack.conf /data/misc/bluedroid/bt_stack.conf
    chown bluetooth system /data/misc/bluedroid/bt_stack.conf
    chmod 0640 /data/misc/bluedroid/bt_stack.conf
    mkdir /data/local/media 0770 media system
    mkdir /data/anr 0771 system system
    mkdir /data/tombstones 0771 system system

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

	on property:ro.debug_level=0x494d
    # Debug Level MID, turn tracing on
    # set ring buf size to 4KB * 4 = 16KB
    write /sys/kernel/debug/tracing/buffer_size_kb 512

    # enable part of sced traces, irq, workqueue
    write /sys/kernel/debug/tracing/events/irq/irq_handler_entry/enable 1
    write /sys/kernel/debug/tracing/events/irq/irq_handler_exit/enable 1
    write /sys/kernel/debug/tracing/events/workqueue/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_switch/enable 1
    write /sys/kernel/debug/tracing/events/power/enable 1
    write /sys/kernel/debug/tracing/events/timer/enable 1
    write /sys/kernel/debug/tracing/events/cpufreq_interactive/cpufreq_interactive_setspeed/enable 1

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Support audio loopback test
    mkdir /dev/pipe 0755 system system
    exec -- /system/bin/mknod -m 666 /dev/pipe/mmi.audio.ctrl p
    # Support audio parameter stored

    chmod 660 /proc/cpt/wdtirq
    chmod 660 /proc/cpt/stop
    chmod 660 /proc/cpt/start
    chmod 660 /proc/cpt/modem
    chmod 660 /proc/cpt/dsp

    chown system root /proc/cpt/wdtirq
    chown system root /proc/cpt/stop
    chown system root /proc/cpt/start
    chown system root /proc/cpt/modem
    chown system root /proc/cpt/dsp

    chmod 660 /proc/cpw/wdtirq
    chmod 660 /proc/cpw/stop
    chmod 660 /proc/cpw/start
    chmod 660 /proc/cpw/modem
    chmod 660 /proc/cpw/dsp
    chmod 660 /proc/cpw/mem

    chown system root /proc/cpw/wdtirq
    chown system root /proc/cpw/stop
    chown system root /proc/cpw/start
    chown system root /proc/cpw/modem
    chown system root /proc/cpw/dsp
    chown system root /proc/cpw/mem

    chmod 660 /proc/cpwcn/wdtirq
    chmod 660 /proc/cpwcn/stop
    chmod 660 /proc/cpwcn/start
    chmod 660 /proc/cpwcn/modem
    chmod 660 /proc/cpwcn/dsp

    chown system root /proc/cpwcn/wdtirq
    chown system root /proc/cpwcn/stop
    chown system root /proc/cpwcn/start
    chown system root /proc/cpwcn/modem
    chown system root /proc/cpwcn/dsp

    chown system root /sys/class/rtcc/rtcc_trigger
on boot
    chmod 0644 /proc/cmdline
    chown system system /sys/module/mali/parameters/gpu_freq_cur
    chown system system /sys/module/mali/parameters/gpu_cur_freq
    chown system system /sys/module/mali/parameters/gpu_freq_max_limit
    chown system system /sys/module/mali/parameters/gpufreq_max_limit
    chown system system /sys/module/mali/parameters/gpu_freq_min_limit
    chown system system /sys/module/mali/parameters/gpufreq_min_limit
    chown system system /sys/module/mali/parameters/gpufreq_table
    chown system system /sys/kernel/debug/mali0/memory_usage

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_upthreshold
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_downdifferential
    chown media system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_request
    chown system system /dev/iq_mem
    chown media system /sys/devices/system/cpu/cpuhotplug/cpu_hotplug_disable
    chown system system /sys/class/graphics/fb0/blank

    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chmod 0660 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chmod 0440 /dev/iq_mem
    chmod 0660 /sys/class/graphics/fb0/blank

# mdnie
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chmod 0664 /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/negative
    chmod 0664 /sys/class/mdnie/mdnie/negative

# SENSORS
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter
    chown system radio /efs/FactoryApp/accel_calibration_data
    chmod 0666 /efs/FactoryApp/accel_calibration_data

# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en

# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/selftest

# MetaEvent
    chown system radio /sys/class/sensors/sensor_dev/flush

#audio pin mux
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp0_iis2
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp0_iis3
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp0_iis0
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp0_iis1
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp1_iis1
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp1_iis2
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp1_iis0
    chown system system /proc/pin_switch/bt_iis_sys_sel/cp1_iis3
    chown system system /proc/pin_switch/bt_iis_sys_sel/ap_iis3
    chown system system /proc/pin_switch/bt_iis_sys_sel/ap_iis2
    chown system system /proc/pin_switch/bt_iis_sys_sel/ap_iis1
    chown system system /proc/pin_switch/bt_iis_sys_sel/ap_iis0
    chown system system /proc/pin_switch/bt_iis_sys_sel/vbc_iis
    chown system system /proc/pin_switch/iis01_loop_sel
    chown system system /proc/pin_switch/iis23_loop_sel
    chown system system /proc/pin_switch/iis12_loop_sel
    chown system system /proc/pin_switch/iis02_loop_sel
    chown system system /proc/pin_switch/iis03_loop_sel
    chown system system /proc/pin_switch/iis13_loop_sel
    chown system system /proc/pin_switch/iis1_sys_sel/ap_iis1
    chown system system /proc/pin_switch/iis0_sys_sel/ap_iis0
    chown system system /proc/pin_switch/iis0_sys_sel/cp0_iis0
    chown system system /proc/pin_switch/iis0_sys_sel/cp1_iis0
    chown system system /proc/pin_switch/iis0_sys_sel/cp2_iis0
    chown system system /proc/pin_switch/iis1_sys_sel/cp2_iis1
    chown system system /proc/pin_switch/iis1_sys_sel/cp0_iis1
    chown system system /proc/pin_switch/iis1_sys_sel/cp1_iis1

    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp0_iis2
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp0_iis3
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp0_iis0
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp0_iis1
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp1_iis1
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp1_iis2
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp1_iis0
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/cp1_iis3
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/ap_iis3
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/ap_iis2
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/ap_iis1
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/ap_iis0
    chmod 0664 /proc/pin_switch/bt_iis_sys_sel/vbc_iis
    chmod 0664 /proc/pin_switch/iis01_loop_sel
    chmod 0664 /proc/pin_switch/iis23_loop_sel
    chmod 0664 /proc/pin_switch/iis12_loop_sel
    chmod 0664 /proc/pin_switch/iis02_loop_sel
    chmod 0664 /proc/pin_switch/iis03_loop_sel
    chmod 0664 /proc/pin_switch/iis13_loop_sel
    chmod 0664 /proc/pin_switch/iis1_sys_sel/ap_iis1
    chmod 0664 /proc/pin_switch/iis0_sys_sel/ap_iis0
    chmod 0664 /proc/pin_switch/iis0_sys_sel/cp0_iis0
    chmod 0664 /proc/pin_switch/iis0_sys_sel/cp1_iis0
    chmod 0664 /proc/pin_switch/iis0_sys_sel/cp2_iis0
    chmod 0664 /proc/pin_switch/iis1_sys_sel/cp2_iis1
    chmod 0664 /proc/pin_switch/iis1_sys_sel/cp0_iis1
    chmod 0664 /proc/pin_switch/iis1_sys_sel/cp1_iis1

    chown system system /dev/ttyGS0
    chmod 0770 /dev/snd/controlC0

    chown system system /dev/block/mmcblk0
    chmod 0660 /dev/block/mmcblk0

    # change owner of sysrpc/mtest to allow atx/atxd access
    chown system system /sys/kernel/sysrpc/mtest

# Battery
    chown system radio /sys/class/power_supply/battery/batt_reset_soc
    chown system radio /sys/class/power_supply/battery/batt_slate_mode
    chown system radio /sys/class/power_supply/battery/factory_mode
    chown system radio /sys/class/power_supply/battery/siop_level
    chown system radio /sys/class/power_supply/battery/wc_enable
    chown system radio /sys/class/power_supply/battery/update
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
    chown system radio /sys/class/power_supply/battery/talk_wcdma
    chown system radio /sys/class/power_supply/battery/talk_gsm
    chown system radio /sys/class/power_supply/battery/call
    chown system radio /sys/class/power_supply/battery/data_call
    chown system radio /sys/class/power_supply/battery/gps
    chown system radio /sys/class/power_supply/battery/wifi
    chown system radio /sys/class/power_supply/battery/lte
    chown system radio /sys/class/power_supply/battery/lcd

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 10
    setprop status.battery.level_raw  100
    setprop status.battery.level_scale 10

# for tsp command
    chown system system /sys/class/sec/tsp/cmd

# phone
    setprop ro.telephony.call_ring.multiple 0

# GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/check_init_detail
    chown radio system /sys/class/secgpio_check/secgpio_check_all/check_sleep_detail
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpio_sleep_debug
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinfo_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check

    # create directory for DRM plug-ins
    mkdir /data/drm 0770 drm drm

    # create directory for MediaDrm plug-ins - give drm the read/write access to
    # the following directory.
    mkdir /data/mediadrm 0770 mediadrm mediadrm

# [ SEC_MM_DRM
    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm
# ]

#permissions for cpufreq
    chown radio system /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_table

# permissions for cpuonline
    chown radio system /sys/devices/system/cpu/cpu0/online
    chown radio system /sys/devices/system/cpu/cpu1/online
    chown radio system /sys/devices/system/cpu/cpu2/online
    chown radio system /sys/devices/system/cpu/cpu3/online
    chmod 0660 /sys/devices/system/cpu/cpu0/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu2/online
    chmod 0660 /sys/devices/system/cpu/cpu3/online

# SEC_PRODUCT_FEATURE_COMMON_USE_MULTISIM
    setprop ro.multisim.simslotcount 2

# OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0664 /sys/class/host_notify/usb_otg/booster

#for efs
    chown radio system /efs
    chmod 0771 /efs

#For Absolute Persistence Partition 

    mkdir /persdata 0755 system system
    mkdir /persdata/absolute 0750 system system

    wait /dev/block/platform/sdio_emmc/by-name/persdata
    check_fs /dev/block/platform/sdio_emmc/by-name/persdata ext4
    mount ext4 /dev/block/platform/sdio_emmc/by-name/persdata /persdata/absolute nosuid nodev barrier=1

    chown system system /persdata
    chmod 0755 /persdata 
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

# Broadcom GPS
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/beidou_started
    rm /data/smd_started
    rm /data/sv_cno.info

# permissions for bluetooth.
   setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
   chown bluetooth net_bt_stack ro.bt.bdaddr_path
   symlink /system/etc/bluetooth /etc/bluetooth
   mkdir /efs/bluetooth 0775 radio system
   mkdir /data/misc 01771 system misc
   chmod 0770 /data/misc/bluetoothd
   chmod 0770 /data/misc/bluetooth
   chown root bluetooth /dev/ttyS0
   chmod 0770 /dev/ttyS0
   chmod 0770 /dev/ttyS1
   chmod 0660 /sys/class/rfkill/rfkill0/state
   chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
   chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
   chmod 0660 /proc/bluetooth/sleep/btwrite
   chown bluetooth system /proc/bluetooth/sleep/btwrite

#LCD
    chown system system /sys/class/backlight/panel/brightness
    chmod 0664 /sys/class/backlight/panel/brightness

#Enable PMTUD tcp_mtu_probing
    write /proc/sys/net/ipv4/tcp_mtu_probing 1

# needed to avoid the 7-minute-halt issue in (DOS) passive mode ftp on vodafone networ
    write /proc/sys/net/ipv4/netfilter/ip_conntrack_tcp_be_liberal 1

# Permissions for System Server and daemons.
    chown system system /sys/devices/platform/panel/backlight/panel/brightness
    write /proc/sys/vm/dirty_writeback_centisecs 1000

on charger
    start console

on alarm
    class_start core
    start drm
    start media
    start console

on property:ro.config.ksm.support=true
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run   1

    symlink /dev/spipe_w1 /dev/vbpipe1
    symlink /dev/spipe_w2 /dev/vbpipe2
    symlink /dev/spipe_w3 /dev/vbpipe3
    symlink /dev/spipe_w6 /dev/vbpipe6
    start refnotify_w
    start nvitemd_w

    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/ap_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/ap_iis0
