on init
    mkdir /efs 0774 radio system
    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/extSdCard
on early-boot
    #chown bluetooth net_bt_stack /dev/ttyS0
    chmod 0660 /dev/ttyS0
    chown system system /efs/FactoryApp/prodcode
    chmod 0744 /efs/FactoryApp/prodcode

# add for emulated internal storage as primary @{
on early-fs
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    setprop persist.storage.type 2
    setprop sys.tempsd.enable 0
# @}

on boot

    mkdir /data/misc/wifi 0775 wifi system
    mkdir /efs/wifi 0775 radio system
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/system 0770 system system
    mkdir /etc/wifi 0770 wifi wifi
    write /data/misc/wifi/fwpath sta_mode
    chmod 660 /data/misc/wifi/fwpath
    chown wifi wifi /data/misc/wifi/fwpath
    rmdir /data/system/wpa_supplicant
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chown system wifi /efs/wifi/.mac.info
    chmod 0660 /efs/wifi/.mac.info
    setprop wifi.interface wlan0
# bluetooth LPM
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth bluetooth /proc/bluetooth/sleep/lpm
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
    insmod /system/lib/modules/bcmdhd.ko
    chmod 0666 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/system 0770 system system
    mkdir /etc/wifi 0770 wifi wifi
    write /data/misc/wifi/fwpath sta_mode
#LCD backlight	
	chown system system /sys/class/backlight/panel/brightness
#sensor nodes premisson set
	#Proximity Sensor
	
    chown system input /sys/class/input/input4/enable
	chown system radio /sys/class/sensors/proximity_sensor
	chown system radio /sys/class/sensors/proximity_sensor/value
	chown system radio /sys/class/sensors/proximity_sensor/enable
	
	chmod 0660 /sys/class/input/input4/enable
	chmod 0660 /sys/class/sensors/proximity_sensor
	chmod 0660 /sys/class/sensors/proximity_sensor/value
	chmod 0660 /sys/class/sensors/proximity_sensor/enable
	
	#Accelerometer Sensor
	
	chown system input /sys/class/input/input3/enable
	chown system input /sys/class/input/input2/enable
	chown system radio /sys/class/sensors/accelerometer_sensor
	chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
	chown system radio /sys/class/sensors/accelerometer_sensor/fast_calibration_x
	chown system radio /sys/class/sensors/accelerometer_sensor/fast_calibration_y
	chown system radio /sys/class/sensors/accelerometer_sensor/fast_calibration_z
	chown system radio /sys/class/sensors/accelerometer_sensor/calibration
	chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
	
	chmod 0660 /sys/class/input/input2/enable
	chmod 0660 /sys/class/input/input3/enable
	chmod 0660 /sys/class/sensors/accelerometer_sensor
	chmod 0660 /sys/class/sensors/accelerometer_sensor/raw_data
	chmod 0660 /sys/class/sensors/accelerometer_sensor/fast_calibration_x
	chmod 0660 /sys/class/sensors/accelerometer_sensor/fast_calibration_y
	chmod 0660 /sys/class/sensors/accelerometer_sensor/fast_calibration_z
	chmod 0660 /sys/class/sensors/accelerometer_sensor/calibration
	chmod 0660 /sys/class/sensors/accelerometer_sensor/reactive_alert
	
	#Magnetic Sensor magnetic_sensor
    chown system input /sys/class/input/input5/enable
	chown system radio /sys/class/sensors/magnetic_sensor
	chown system radio /sys/class/sensors/magnetic_sensor/value
	chown system radio /sys/class/sensors/magnetic_sensor/value_raw
	chown system radio /sys/class/sensors/magnetic_sensor/enable
	chown system radio /sys/class/sensors/magnetic_sensor/chip_id
	chown system radio /sys/class/sensors/magnetic_sensor/adc
	chown system radio /sys/class/sensors/magnetic_sensor/op_mode
	chown system radio /sys/class/sensors/magnetic_sensor/selftest
	chown system radio /sys/class/sensors/magnetic_sensor/raw_data
	chown system system /sys/class/input/input5/
	chown system system /sys/class/input/input5/value
	chown system system /sys/class/input/input5/value_raw
	chown system system /sys/class/input/input5/enable
	chown system system /sys/class/input/input5/chip_id
	chown system system /sys/class/input/input5/adc
	chown system system /sys/class/input/input5/op_mode
	chown system system /sys/class/input/input5/selftest
	chown system system /sys/class/input/input5/raw_data
	
	chmod 0660 /sys/class/input/input5/enable
   	chmod 0660 /sys/class/sensors/magnetic_sensor
	chmod 0660 /sys/class/sensors/magnetic_sensor/value
	chmod 0660 /sys/class/sensors/magnetic_sensor/value_raw
	chmod 0660 /sys/class/sensors/magnetic_sensor/enable
	chmod 0660 /sys/class/sensors/magnetic_sensor/chip_id
	chmod 0660 /sys/class/sensors/magnetic_sensor/adc
	chmod 0660 /sys/class/sensors/magnetic_sensor/op_mode
	chmod 0660 /sys/class/sensors/magnetic_sensor/selftest
	chmod 0660 /sys/class/sensors/magnetic_sensor/raw_data
	chmod 0660 /sys/class/input/input5/value
	chmod 0660 /sys/class/input/input5/value_raw
	chmod 0660 /sys/class/input/input5/enable
	chmod 0660 /sys/class/input/input5/chip_id
	chmod 0660 /sys/class/input/input5/adc
	chmod 0660 /sys/class/input/input5/op_mode
	chmod 0660 /sys/class/input/input5/selftest
	chmod 0660 /sys/class/input/input5/raw_data
    chmod 660 /data/misc/wifi/fwpath
    chown wifi wifi /data/misc/wifi/fwpath
    rmdir /data/system/wpa_supplicant
    setprop wifi.interface wlan0

# Marvell GPS
# create filesystem for gps
    chown system system /proc/driver/gps
    chown system system /proc/driver/sirf

    mkdir /data/system 0770 system system
    mkdir /data/system/gps 0771 system system
    mkdir /data/system/gps/mrvlgps 0771 system system
    mkdir /data/system/gps/mrvlgps/rxn 0771 system system
    mkdir /data/system/gps/mrvlgps/rxn/RXN 0771 system system

# permissions for bluetooth.
   symlink /system/etc/dbus.conf /etc/dbus.conf
   symlink /system/etc/bluetooth /etc/bluetooth
   mkdir /data/misc 01771 system misc
   mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
   mkdir /data/misc/bluetooth 0770 system system
   chmod 0770 /data/misc/bluetoothd
   chmod 0770 /data/misc/bluetooth
   chown bluetooth bluetooth /data/misc/bluetoothd
   chown bluetooth bluetooth /data/misc/bluetooth
#chown root bluetooth /dev/ttyS0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0777 /system/bin/btld
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path

    disabled
    oneshot


service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -O/data/misc/wifi/sockets -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1 -puse_multi_chan_concurrent=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

#Start for  WiFi MFG(TestMode)
service mfgloader /system/bin/mfgloader
	class main
	disabled
	oneshot

service wlandutservice /system/bin/wlandutservice
	class main
	user system
	group wifi net_raw net_admin system inet
	disabled
	oneshot

service macloader /system/bin/macloader
	class main
	oneshot

on property:init.svc.macloader=stopped
    chown system root /data/.cid.info
    chmod 0664 /data/.cid.info
    chown system root /data/.rev
    chmod 0660 /data/.rev
#End of WiFi MFG(TestMode)

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service engpcclientw /system/bin/engpc -t 0 -a /dev/ttyGS0 -d /dev/ttyGS1
    class main
    user system
    group system radio shell
    disabled
    oneshot

# for BT-PANU
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot
	
service iprenew_bt-pan /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

#sensord daemon start
service sensord /system/bin/sensord
   class main
   user system
   group system
on fs
    chown radio system /efs
    chmod 0771 /efs
