import init.kanas3g_base.rc
import init.wifi.rc

on boot

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.wifi    524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.umts    4094,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4092,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsupa   4092,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsdpa   4092,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspap   4092,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4096,30000,30000,4096,8760,11680
    setprop net.tcp.buffersize.evdo    4094,87380,262144,4096,16384,262144

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max   1048576
    write /proc/sys/net/core/wmem_max   2097152

on fs
# Support Preload install apks
     mkdir /preload 0771 system system

	wait /dev/block/platform/sprd-sdhci.3/by-name/HIDDEN
    mount ext4 /dev/block/platform/sprd-sdhci.3/by-name/HIDDEN /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

# for BT-PANU
service dhcpcd_bt-pan /system/bin/dhcpcd -BKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
