
# add for physical external storage as primary @{
on early-fs
    mkdir /storage/temp_sd 0700 root root
    export TEMP_STORAGE /storage/temp_sd
    #symlink /storage/sdcard0 /sdcard
    #symlink /storage/sdcard0 /mnt/sdcard
    setprop persist.storage.type 1
    setprop sys.tempsd.enable 1
# @}

on boot
    chmod 0660 /dev/ttyS0
    #write /sys/class/gpio/export 167
    #write /sys/class/gpio/gpio167/direction out
    #write /sys/class/gpio/gpio167/value 1
    #write /sys/class/gpio/export 168
    #write /sys/class/gpio/gpio168/direction out
    #chown root system /sys/class/gpio/gpio167/value
    #chmod 0664 /sys/class/gpio/gpio167/value
    #chown root system /sys/class/gpio/gpio168/value
    #chmod 0664 /sys/class/gpio/gpio168/value

    chmod 660 /proc/bluetooth/sleep/proto
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth system /proc/bluetooth/sleep/proto
    mkdir /data/system 0770 system system

    # Marvell GPS
    chown system system /proc/driver/gps
    chown system system /proc/driver/sirf
    
    # create filesystem for gps
    mkdir /data/system/gps 0771 system system
    mkdir /data/system/gps/mrvlgps 0771 system system
    mkdir /data/system/gps/mrvlgps/rxn 0771 system system
    mkdir /data/system/gps/mrvlgps/rxn/RXN 0771 system system

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

#service hciattach /system/bin/hciattach -n /dev/sttybt0 sprd_shark
#    socket bluetooth stream 660 bluetooth bluetooth
#    user bluetooth
#    group wifi bluetooth net_bt_admin net_bt inet net_raw net_admin system
#    disabled
#    oneshot

service btld  /system/bin/btld -lpm 0 -hb 3000000
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service engpcclientw /system/bin/engpc -t 0 -a /dev/ttyGS0 -d /dev/ttyGS1
    class late_start
    user system
    group system radio shell
    disabled
    oneshot

service engpcclientwcn /system/bin/engpc -t 2 -a /dev/ttyGS2 -d /dev/ttyGS3
    class late_start
    user system
    group system radio shell
    disabled
    oneshot
