# WCDMA rild services
service wril-daemon /vendor/bin/hw/rild -- -m w -n 0
    class main
    disabled
    user root
    group radio cache inet misc audio log readproc wakelock shell
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    setenv LD_PRELOAD /vendor/lib/libril_shim.so

service wril-daemon2 /vendor/bin/hw/rild -c 2 -- -m w -n 1
    class main
    disabled
    user root
    group radio cache inet misc audio log readproc wakelock shell
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    setenv LD_PRELOAD /vendor/lib/libril_shim.so

service wril-daemon3 /vendor/bin/hw/rild -c 3 -- -m w -n 2
    class main
    disabled
    user root
    group radio cache inet misc audio log readproc wakelock shell
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    setenv LD_PRELOAD /vendor/lib/libril_shim.so

